<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='scripts/script.js') }}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io();
      socket.on('connect', function() {
          socket.emit('connected_event', {data: 'Connected!'});
      });
  </script>
  </head>
  <body>
    <div class="grid-container">
        <div id="videoplayback" class="VIDEO"><img id="bg" src="{{ url_for('video_feed') }}"></div>
        <div id="mapsdiv" class="MAP">
            <!-- API_KEY: AIzaSyBSDl8S2NWX5GwJHvLaQ2PMVJSSxur033Q -->
            <iframe
              style="border:0; width:100%; height:100%"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBSDl8S2NWX5GwJHvLaQ2PMVJSSxur033Q&q=rest+stops+near+me&zoom=10" allowfullscreen>
              <!--src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBSDl8S2NWX5GwJHvLaQ2PMVJSSxur033Q&origin=Miami+Florida&destination=Orlando+Florida&avoid=tolls|highways" allowfullscreen> -->
            </iframe>
        </div>
        <div id="settingsdiv" class="SETTINGS">
          <h1 style="color:black;">Settings</h1>
          <button id="drowsybutton" type="button" onclick="onDrowsy()">Simulate Drowsy</button><br>
          <button id="swapbutton" type="button" onclick="SwapNotifGraph()">View Graph</button><br>
          <button id="endridebutton" type="button" onclick="endRide()">End Ride</button><br>
          <input type="checkbox" id="alarmtoggle" name="alarmtoggle">
          <label for="alarmtoggle">Alarm System</label><br>
          <form action="">
            <label for="startlocation">Start Location:</label>
            <input type="text" id="startlocation" name="startlocation"><br><br>
            <label for="endlocation">End Location:</label>
            <input type="text" id="endlocation" name="endlocation"><br><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div id="notifsdiv" class="NOTIF">
            <h1 style="color:black;">Status Notifications</h1>
            <ul id="notiflist" style="list-style-type:none; text-align: center;"></ul>
        </div>
        <div id="graphdiv" class="NOTIF" style="display:none;">
          <canvas id="drowsy_graph" width="100%" height="90%"></canvas>
          <script>
            var ctx = document.getElementById('drowsy_graph');
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            const time = hours + ":" + minutes + ":" + seconds;
            var drowsy_graph = new Chart(ctx,
            {
                type:"line",
                data:
                {
                    "labels":[],
                    "datasets":[{
                        "label":"Drowsy Occurrances",
                        "data":[],
                        "fill":false,
                        "borderColor":"rgb(75, 192, 192)",
                        "lineTension":0.1
                    }]
                },
                options:{}
            });
          </script>
      </div>
  </body>
</html>